.footer-section{
    padding-top: 100px;
    border-top: 2px solid rgba(156, 105, 226, 0.2);
    padding-bottom: 40px;
}

.footer__call-to-action{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
}

.footer__description{
    margin-top: 20px;
}

.footer__button-container{
    display: flex;
    width: 410px;
    justify-content: space-between;
}

.pink{
    background-color: rgba(240, 99, 184, 1);
}

.footer__copywrite{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__copywrite-text{
    color: var(--dark-blue);
    font-family: "Nunito Sans";
    font-weight: 400;
    font-size: 12px;
    line-height: 21.6px;
}

.footer__copywrite-send-message{
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 60px;
    height: 60px;
    background: url(../images/message.svg);
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    transition: transform 0.6s ease-in-out;
}

.footer__copywrite-send-message:hover {
    transform: rotate(360deg); 
}

@media screen and (max-width: 768px){
    .footer-section{
        padding-top: 60px;
        padding-bottom: 20px;
    }
    
    .footer__call-to-action{
        margin-bottom: 40px;
    }

    .footer__button-container{
        flex-direction: column-reverse;
        align-items: flex-end;
        width: 250px;
    }

    .pink{
        margin-top: 15px;
    }

    .footer__description{
        max-width: 300px;
    }
}

@media screen and (max-width: 576px){
    .footer__call-to-action{
        flex-direction: column;
        align-items: flex-start;
    }

    .footer__button-container{
        margin-top: 30px;
        flex-direction: column;
        align-items: flex-start;
    }

    .pink{
        margin-top: 0px;
        margin-bottom: 15px;
    }
}