.header{
    display: flex;
    align-items: center;
    padding-block: 50px;
}

.header__logo{
    width: 49px;
    height: 35px;
}

.header__nav-menu{
    display: flex;
    align-items: center;
    margin-left: 120px;
}

.header__nav-item{
    margin-right: 40px;
}

.header__nav-item:last-child{
    margin-right: 0px;
}

.wrapper{
    display: flex;
    width: 100%;
    justify-content: space-between;
}